openapi: 3.0.0
info:
  title: SWIFTRef API
  description: |
    One of SWIFT's latest delivery channels for SWIFTRef reference data are Application Programming Interfaces (APIs). APIs offer financial institutions, corporates and third party service providers an automated data look-up service for real-time identification and validation of critical payments reference data within the SWIFTRef utility.
    
    **v4.0.0 Release notes**

    * HTTP request header `Accept` now used for the customer expected format (JSON/XML):
      * it should only be `application/json` or `application/xml`;
      * if an unexpected accept header is received, an error 406 is returned. If not sent, the request is accepted and the default (JSON) will be applied.
    * Errors - all the V4 APIs return the error in the same format:
      * a collection, whose structure is `[ {errorObject1}, {errorObject2}, ... ]`;
      * `more_info` error attribute became optional.
    * All the APIs within the OpenAPI contract have the same version. The version corresponds to the major version of the OpenAPI contract (OpenAPI contract 4.0.0 only contain V4 APIs).
    * Session cookie removed.
    * Header `API-Status` (API verbose) removed.
    * Response customization (EOL, colons) removed:
      * JSON responses are not returned pretty-printed, but raw.
    * OpenAPI changes
      * standardizations as per Swagger HUB rules
      * RegExp validations for each input field added
      * output format constraints added
      * standardized V4 version for all the APIs
      * 8 new endpoints added:
        * Search for PMI participants: `GET /v4/pmis/participants`
        * Get PMI participant details: `GET /v4/pmis/participants/{participant_record_id}`
        * Get PMI structure: `GET /v4/pmis/{service_id}/structure`
        * Get PMI details: `GET /v4/pmis/{service_id}`
        * Search for PMI: `GET /v4/pmis`
        * Get Connected BIC: `GET /v4/bics/{bic}/connected_bic`
        * Get BBAN elements of an IBAN (IBAN constructor metadata): `GET /v4/bbans/elements`
        * IBAN constructor (build IBAN): `GET /v4/ibans`

      * 7 existing endpoints updated:
        * Get SSIs for a BIC: `GET /v4/bics/{bic}/connected_bic`
    
          For a given BIC and a given currency code, and optionally an asset category, you can retrieve the Standing Settlement Instructions (SSIs). One or more SSIs can be returned.

          The V4 is based on the SSI Plus V3 directory. The v1.6 was based on SSI Plus V2 directory. Because the structure of SSI Plus V3 differs from the SSI Plus V2, there are several changes in the parameters:

          * Some request parameters changed name:
            * `currency_code` changed to `iso_currency_code`
            * `ssi_category` changed to `asset_category`
          * The asset category covers now all asset categories listed in the SSI Plus V3 directory.
          * Many new response attributes

        * Check validity of an IBAN (SEPA-only option added): `GET /v4/ibans/{iban}/validity`
    
          You can check whether an IBAN is valid, that is its country code, structure, length, and checksum are valid. It also checks that the bank ID exists and that it is allowed for use in the IBANs. If the bank ID is not allowed, then it is listed in the Exclusion List. This list contains bank IDs that must not be used in IBANs.
    
          This validity call allows for very fast, low overhead checking of the validity of an IBAN. With the new optional request parameter `sepa_only`, you can validate a SEPA IBAN.

          * One new request parameter added: `sepa_only`
        * Get details for a BIC: `GET /v4/bics/{bic}`
          
          For a given BIC, you can retrieve the details of that BIC, that is the bank name or business name, and the address.
     
          The V4 features ISO 20022-compliant attributes (see https://www.swift.com/resource/structured-ordering-and-beneficiary-customer-data-payments-1).
        * Get details for a National ID: `GET /v4/national_ids/{national_id}`
    
          For a given National ID, you can retrieve the details of that National ID, that is the bank name or business name, and the address.
          You must provide either a country code, or an indication to which scheme the National ID belongs.
          
          You can also receive the National ID's data elements (such as the name and address in the local language instead of in English),
          if you add the URL extension `&only_local_language=true`.
          However, the local language elements are available only for a subset of all National IDs.
    
          The V4 features ISO 20022-compliant attributes (see https://www.swift.com/resource/structured-ordering-and-beneficiary-customer-data-payments-1); all available national ID schemes are now returned (id_type, national_id_type, iso_clc_type).
        * Validate National ID: `GET /v4/national_ids/{national_id}/validity`
    
          All available national ID schemes are available as input and returned to output (id_type, national_id_type, iso_clc_type).
        * Get BICs of a National ID: `GET /v4/national_ids/{national_id}/bics`
    
          All available national ID schemes are available as input (id_type, national_id_type, iso_clc_type).
        * Get National IDs of a BIC: `GET /v4/bics/{bic}/national_ids`
    
          All available national ID schemes are now returned (id_type, national_id_type, iso_clc_type); "AN" and "FN" type attribute, previously used to flag items as "Alternative National ID Type" or "Foreign National ID Type", are not returned anymore.
  version: 4.0.0
  contact:
    name: Standards & Developer Hub
    url: 'https://developer.swift.com'
    email: developer-support@swift.com
  license:
    name: API Restricted License
    url: 'https://www.swift.com/file/56776/download?token=8w8DC4eF'
servers:
  - url: 'https://api.swift.com/swiftrefdata/v4'
    description: Live environment
  - url: 'https://sandbox.swift.com/swiftrefdata/v4'
    description: Sandbox environment
  - url: 'https://api-test.swift.com/swiftrefdata/v4'
    description: Test environment
security:
  - oauthBearerToken: [ ]
paths:
  '/ibans/{iban}/validity':
    get:
      tags:
        - ibans
      summary: Check validity of an IBAN, with SEPA-only option.
      description: You can check whether an IBAN is valid, by restricting validation to SEPA countries.
      operationId: getIbanValidity
      parameters:
        - in: path
          name: iban
          schema:
            $ref: '#/components/schemas/Iban'
          required: true
          description: IBAN to validate
        - in: query
          name: sepa_only
          schema:
            $ref: '#/components/schemas/BooleanAsString'
          required: false
          description: Whether the IBAN validation must be restricted to SEPA countries
      responses:
        '200':
          description: Valid IBAN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanValidity'
        '400':
          description: Input IBAN is formally invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MIRI
                    severity: Fatal
                    text: Invalid IBAN resource identifier (not matching expression [a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}) or missing IBAN resource identifier
                    user_message: Wrong URL format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MIRI</code>
                <severity>Fatal</severity>
                <text>Invalid IBAN resource identifier (not matching expression [a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}) or missing IBAN resource identifier</text>
                <user_message>Wrong URL format</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Supplied IBAN is not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.IICC
                    severity: Fatal
                    text: ISO IBAN country code prefix is not valid
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.IICC</code>
                <severity>Fatal</severity>
                <text>ISO IBAN country code prefix is not valid</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/ibans/{iban}/bic':
    get:
      tags:
        - ibans
      summary: Get the BIC for an IBAN.
      description: For a given IBAN, you can retrieve the BIC of the institution that services the IBAN. This API is compliant with the requirement for BIC from IBAN derivation defined in the Regulation (EU) No 260/2012.
      operationId: getBicFromIban
      parameters:
        - in: path
          name: iban
          schema:
            $ref: '#/components/schemas/Iban'
          required: true
          description: IBAN for which the corresponding BIC is requested
      responses:
        '200':
          description: Corresponding BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanBic'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanBic'
        '400':
          description: Input IBAN is formally invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MIRI
                    severity: Fatal
                    text: Invalid IBAN resource identifier (not matching expression [a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}) or missing IBAN resource identifier
                    user_message: Wrong URL format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MIRI</code>
                <severity>Fatal</severity>
                <text>Invalid IBAN resource identifier (not matching expression [a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}) or missing IBAN resource identifier</text>
                <user_message>Wrong URL format</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.BINF
                    severity: Fatal
                    user_message: No corresponding BIC found
                    text: The supplied IBAN does not exist or has no BIC associated
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.BINF</code>
                <severity>Fatal</severity>
                <text>No corresponding BIC found</text>
                <user_message>The supplied IBAN does not exist or has no BIC associated</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/ibans/{iban}':
    get:
      tags:
        - ibans
      summary: Get details for an IBAN.
      description: For a given IBAN, you can obtain the components of the IBAN.
      operationId: getIbanDetails
      parameters:
        - in: path
          name: iban
          schema:
            $ref: '#/components/schemas/Iban'
          required: true
          description: IBAN for which details are requested
      responses:
        '200':
          description: Corresponding IBAN found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanDetailsWithIsoFlag'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanDetailsWithIsoFlag'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding IBAN found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.INVI
                    severity: Fatal
                    text: Invalid IBAN
                    user_message: Invalid IBAN
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.INVI</code>
                <severity>Fatal</severity>
                <text>Invalid IBAN</text>
                <user_message>Invalid IBAN</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/ibans':
    get:
      tags:
        - ibans
      summary: IBAN constructor.
      description: Build a valid IBAN from BBAN elements (e.g. bank code, branch code, account number). Required BBAN elements depend on the country.
      operationId: ibanConstructor
      parameters:
        - $ref: '#/components/parameters/ibanCountryCode'
        - in: query
          name: bban_elements
          description: BBAN elements, supplied either as separate tokens or as single token (full BBAN).
          schema:
            type: object
            additionalProperties:
              type: string
              pattern: '^[0-9A-Z]{1,30}$'
            maxProperties: 10
          examples:
            IT_separate_tokens:
              summary: Italian BBAN as separate elements
              value:
                checksum: X
                bank_code: '05428'
                branch_code: '11101'
                account: '000000123456'
            IT_single_token:
              summary: Italian BBAN as single element (full BBAN)
              value:
                bban: X0542811101000000123456
      responses:
        '200':
          description: IBAN code was successfully built from BBAN elements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanBuilt'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanBuilt'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MIBE
                    severity: Fatal
                    text: account not provided
                  - code: REDA.API.MIBE
                    severity: Fatal
                    text: bank_code not provided
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MIBE</code>
                <severity>Fatal</severity>
                <text>account not provided</text>
                </error>
                <error>
                <code>REDA.API.MIBE</code>
                <severity>Fatal</severity>
                <text>bank_code not provided</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: IBAN contruction failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.IBEV
                    severity: Fatal
                    text: country_code has an invalid value
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MIBE</code>
                <severity>Fatal</severity>
                <text>country_code has an invalid value</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/iban_national_ids/{iban_national_id}/bic':
    get:
      tags:
        - iban_national_ids
      summary: Get the BIC for an IBAN national ID.
      description: For a given IBAN national ID, you can retrieve the BIC of the institution that services the IBAN.
      operationId: getBicFromIbanNationalId
      parameters:
        - in: path
          name: iban_national_id
          schema:
            $ref: '#/components/schemas/AlphaNumStringMax30'
          required: true
          description: IBAN national ID for which the corresponding BIC is requested
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: true
          description: The 2-character ISO 3166-1 country code of the country that issued the IBAN National ID
      responses:
        '200':
          description: Corresponding BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanNationalIdBic'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanNationalIdBic'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICCF
                    severity: Fatal
                    text: Invalid country code format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICCF</code>
                <severity>Fatal</severity>
                <text>Invalid country code format</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: BIC not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.NICT
                    severity: Fatal
                    text: Country not supporting IBANs
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.NICT</code>
                <severity>Fatal</severity>
                <text>Country not supporting IBANs</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bbans/{bban}/iban':
    get:
      tags:
        - bbans
      summary: Get the IBAN from a BBAN.
      description: For a given Basic Bank Account Number (BBAN), you can retrieve the corresponding IBAN; you must also provide a country code.
      operationId: getIbanFromBban
      parameters:
        - in: path
          name: bban
          schema:
            $ref: '#/components/schemas/AlphaNumStringMax30'
          required: true
          description: BBAN for which the corresponding IBAN is requested
          example: '500700100532013000'
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: true
          description: The 2-character ISO 3166-1 country code of the country that issued the National ID
      responses:
        '200':
          description: Corresponding IBAN found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanOfBban'
            application/xml:
              schema:
                $ref: '#/components/schemas/IbanOfBban'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICCP
                    severity: Fatal
                    text: The supplied country code does not exist
                    user_message: Invalid country code parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICCP</code>
                <severity>Fatal</severity>
                <text>The supplied country code does not exist</text>
                <user_message>Invalid country code parameter</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding IBAN found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.IBNF
                    severity: Fatal
                    text: No corresponding IBAN found
                    user_message: No corresponding IBAN found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.IBNF</code>
                <severity>Fatal</severity>
                <text>No corresponding IBAN found</text>
                <user_message>No corresponding IBAN found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bbans/elements':
    get:
      tags:
        - bbans
      summary: Get BBAN elements of an IBAN country.
      description: Get all BBAN element combinations that can be used as input of IBAN constructor for a specific country. Each BBAN element is described by name, length, mandatory/optional flag, position within BBAN.
      operationId: getBbanElements
      parameters:
        - $ref: '#/components/parameters/ibanCountryCode'
      responses:
        '200':
          description: BBAN elements found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BbanElements'
            application/xml:
              schema:
                $ref: '#/components/schemas/BbanElements'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICCP
                    severity: Fatal
                    text: IBAN country code parameter is not valid
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICCP</code>
                <severity>Fatal</severity>
                <text>IBAN country code parameter is not valid</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: BBAN elements not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.BENF
                    severity: Fatal
                    text: No corresponding BBAN elements found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.BENF</code>
                <severity>Fatal</severity>
                <text>No corresponding BBAN elements found</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}':
    get:
      tags:
        - bics
      summary: Get details of a BIC.
      description: For a given BIC, you can retrieve the details of that BIC, that is the bank name or business name, and the address and the SWIFT service details.
      operationId: getBicDetails
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) for which details are requested
      responses:
        '200':
          description: Corresponding BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BicIsoDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BicIsoDetails'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: BIC not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.BINF
                    severity: Fatal
                    text: The supplied BIC does not exist within the BIC Directory
                    user_message: No corresponding BIC found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.BINF</code>
                <severity>Fatal</severity>
                <text>The supplied BIC does not exist within the BIC Directory</text>
                <user_message>No corresponding BIC found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/validity':
    get:
      tags:
        - bics
      summary: Check validity of a BIC.
      description: You can check whether a BIC is correct and valid, that is whether it is published in the BIC Directory; optionally, you can check whether a BIC was valid at a particular date in the past.
      operationId: getBicValidity
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) to validate
        - in: query
          name: effective_date
          schema:
            type: string
            format: date
          required: false
          description: A date in YYYY-MM-DD format
          example: '2019-07-23'
      responses:
        '200':
          description: Valid BIC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BicValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/BicValidity'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MBRI
                    severity: Fatal
                    text: Invalid BIC resource identifier (not matching expression [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}) or missing BIC resource identifier
                    user_message: Invalid BIC format or BIC not supplied
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MBRI</code>
                <severity>Fatal</severity>
                <text>Invalid BIC resource identifier (not matching expression [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}) or missing BIC resource identifier</text>
                <user_message>Invalid BIC format or BIC not supplied</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Supplied BIC is not formally valid or does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.IBIC
                    severity: Fatal
                    text: BIC resource identifier matches expression [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1},but it does not exist within the BIC Directory (or is invalid on the supplied date, if supplied)
                    user_message: Invalid BIC
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.IBIC</code>
                <severity>Fatal</severity>
                <text>BIC resource identifier matches expression [A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1},but it does not exist within the BIC Directory (or is invalid on the supplied date, if supplied)</text>
                <user_message>Invalid BIC</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/lei':
    get:
      tags:
        - bics
      summary: Get the LEI for a BIC.
      description: For a given BIC (Business Identifier Code), you can retrieve the LEI (Legal Entity Identifier) of that BIC.
      operationId: getLeiFromBic
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) for which the corresponding LEI is requested
      responses:
        '200':
          description: Corresponding LEI found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeiFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/LeiFound'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Corresponding LEI not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.LEIN
                    severity: Fatal
                    text: The BIC does not exist or has no LEI associated
                    user_message: No corresponding LEI found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.LEIN</code>
                <severity>Fatal</severity>
                <text>The BIC does not exist or has no LEI associated</text>
                <user_message>No corresponding LEI found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/national_ids':
    get:
      tags:
        - bics
      summary: Get National IDs for a BIC.
      description: For a given BIC, you can retrieve the National IDs of that BIC.
      operationId: getNationalIdsFromBic
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) for which the corresponding National IDs are requested
      responses:
        '200':
          description: Corresponding National ID(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NationalIdsFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/NationalIdsFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MBRI
                    severity: Fatal
                    text: Missing BIC resource identifier
                    user_message: Wrong URL format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MBRI</code>
                <severity>Fatal</severity>
                <text>Missing BIC resource identifier</text>
                <user_message>Wrong URL format</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Corresponding National ID(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.NNIF
                    severity: Fatal
                    text: The BIC does not exist or has no national ID associated
                    user_message: No corresponding national ID found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.NNIF</code>
                <severity>Fatal</severity>
                <text>The BIC does not exist or has no national ID associated</text>
                <user_message>No corresponding national ID found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/reachability':
    get:
      tags:
        - bics
      summary: Validate SEPA reachability of a BIC.
      description: For a given BIC and SEPA payment scheme, you can validate that it can be reached for SEPA payments and return the SEPA channel CSM (Clearing and Settlement System) through which the bank owning the BIC can be reached; the response also returns the adherence BIC that signed the adherence agreement with the EPC and the intermediary institution's BIC (if applicable and available).
      operationId: getSepaReachabilityFromBic
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) for which SEPA reachability is requested
        - in: query
          name: sepa_scheme
          schema:
            type: string
            minLength: 1
            maxLength: 4
          required: true
          description: SEPA service code
          example: SDD
      responses:
        '200':
          description: Payment channel(s) found with the supplied BIC and scheme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BicReachabilityFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/BicReachabilityFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ISSC
                    severity: Fatal
                    text: SEPA scheme parameter not supplied, supplied with a wrong parameter name or the SEPA scheme does not exist (only SDD, SCT, SDB and SCTINST allowed)
                    user_message: Invalid SEPA scheme parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ISSC</code>
                <severity>Fatal</severity>
                <text>SEPA scheme parameter not supplied, supplied with a wrong parameter name or the SEPA scheme does not exist (only SDD, SCT, SDB and SCTINST allowed)</text>
                <user_message>Invalid SEPA scheme parameter</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No payment channel found with the supplied BIC and scheme or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICHA
                    severity: Fatal
                    text: The supplied BIC does not exist or has no payment channel associated with the supplied SEPA scheme
                    user_message: No payment channel found with the supplied BIC and scheme
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICHA</code>
                <severity>Fatal</severity>
                <text>The supplied BIC does not exist or has no payment channel associated with the supplied SEPA scheme</text>
                <user_message>No payment channel found with the supplied BIC and scheme</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/ssis':
    get:
      tags:
        - bics
      summary: Get SSIs for a BIC.
      description: For a given BIC, you can retrieve the Standing Settlement Instructions (SSIs) for that BIC, for a given currency, and (optionally) an asset category.
      operationId: getSsisFromBic
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC (8-characters or 11-characters) for which the corresponding SSIs are requested
        - in: query
          name: iso_currency_code
          schema:
            $ref: '#/components/schemas/CurrencyCode'
          required: true
          description: A 3-character currency code for which SSI data needs to be retrieved
        - in: query
          name: asset_category
          schema:
            $ref: '#/components/schemas/SsiAssetCategory'
          required: false
          description: Code that indicates the asset category for which SSI data needs to be retrieved
      responses:
        '200':
          description: Records found matching the supplied parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsisFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/SsisFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICCY
                    severity: Fatal
                    text: Currency parameter not supplied, supplied with a wrong parameter name or it does not exist (not ISO 4217-compliant)
                    user_message: Invalid currency parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICCY</code>
                <severity>Fatal</severity>
                <text>Currency parameter not supplied, supplied with a wrong parameter name or it does not exist (not ISO 4217-compliant)</text>
                <user_message>Invalid currency parameter</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No records found matching the supplied input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.NOSS
                    severity: Fatal
                    text: The supplied BIC does not exist or has no SSI with the specified currency and category
                    user_message: No SSI matching the supplied parameters
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.NOSS</code>
                <severity>Fatal</severity>
                <text>The supplied BIC does not exist or has no SSI with the specified currency and category</text>
                <user_message>No SSI matching the supplied parameters</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/bics/{bic}/connected_bic':
    get:
      tags:
        - bics
      summary: Get connected BIC.
      description: For a given BIC, retrieve the related connected BIC (or SWIFT BIC), which is a BIC connected to the SWIFT network, therefore usable in the header of a SWIFT message. If available, it is a BIC of the same institution, otherwise it's the correspondent through which the input BIC connects.
      operationId: getConnectedBic
      parameters:
        - in: path
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: true
          description: BIC resource identifier
      responses:
        '200':
          description: Connected BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedBicFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConnectedBicFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.INVP
                    severity: Fatal
                    text: Invalid parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.INVP</code>
                <severity>Fatal</severity>
                <text>Invalid parameter</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Input BIC does not exist of connected BIC not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.NCBF
                    severity: Fatal
                    text: No connected BIC found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.NCBF</code>
                <severity>Fatal</severity>
                <text>No connected BIC found</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/leis/{lei}/bic':
    get:
      tags:
        - leis
      summary: Get the BIC for an LEI.
      description: For a given LEI, you can retrieve the BIC of that LEI.
      operationId: getBicFromLei
      parameters:
        - in: path
          name: lei
          schema:
            $ref: '#/components/schemas/Lei'
          required: true
          description: LEI (20-characters) for which the corresponding BIC is requested
      responses:
        '200':
          description: Corresponding BIC found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeiBic'
            application/xml:
              schema:
                $ref: '#/components/schemas/LeiBic'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MLRI
                    severity: Fatal
                    text: Missing LEI resource identifier
                    user_message: Wrong URL format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MLRI</code>
                <severity>Fatal</severity>
                <text>Missing LEI resource identifier</text>
                <user_message>Wrong URL format</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Corresponding BIC not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.BINF
                    severity: Fatal
                    text: The LEI does not exist or has no BIC associated
                    user_message: No corresponding BIC found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.BINF</code>
                <severity>Fatal</severity>
                <text>The LEI does not exist or has no BIC associated</text>
                <user_message>No corresponding BIC found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/leis/{lei}/validity':
    get:
      tags:
        - leis
      summary: Check validity of a LEI.
      description: You can check whether a LEI is formally correct and exists.
      operationId: getLeiValidity
      parameters:
        - in: path
          name: lei
          schema:
            $ref: '#/components/schemas/Lei'
          required: true
          description: LEI to validate
      responses:
        '200':
          description: Valid LEI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeiValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/LeiValidity'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MCRI
                    severity: Fatal
                    text: Missing LEI resource identifier
                    user_message: Wrong URL format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MCRI</code>
                <severity>Fatal</severity>
                <text>Missing LEI resource identifier</text>
                <user_message>Wrong URL format</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Invalid LEI or LEI not found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ILEI
                    severity: Fatal
                    text: LEI resource identifier matches expression [0-9A-Z]{20}, but it does not exist
                    user_message: Invalid LEI
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ILEI</code>
                <severity>Fatal</severity>
                <text>LEI resource identifier matches expression [0-9A-Z]{20}, but it does not exist</text>
                <user_message>Invalid LEI</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/leis/{lei}':
    get:
      tags:
        - leis
      summary: Get details of a LEI.
      description: For a given LEI, you can retrieve the details of that LEI.
      operationId: getLeiDetails
      parameters:
        - in: path
          name: lei
          schema:
            $ref: '#/components/schemas/Lei'
          required: true
          description: LEI for which details are requested
      responses:
        '200':
          description: Corresponding LEI found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeiDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/LeiDetails'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: LEI not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.LENF
                    severity: Fatal
                    text: The LEI does not exist
                    user_message: LEI not found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.LENF</code>
                <severity>Fatal</severity>
                <text>The LEI does not exist</text>
                <user_message>LEI not found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/national_ids/{national_id}':
    get:
      tags:
        - national_ids
      summary: Get details of a National ID.
      description: For a given National ID, you can retrieve the details of that National ID, that is the bank name or business name, and the address. You must provide either a country code, or an indication to which scheme the National ID belongs.
      operationId: getNationalIdDetails
      parameters:
        - in: path
          name: national_id
          schema:
            $ref: '#/components/schemas/NationalIdCode'
          required: true
          description: National ID (a synonym for clearing code, routing code, sort code, bank and branch ID) for which details are requested
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: false
          description: The 2-character ISO 3166-1 country code of the country that issued the National ID (mandatory, when scheme parameter is not provided)
        - in: query
          name: scheme
          schema:
            $ref: '#/components/schemas/NationalIdScheme'
          required: false
          description: The scheme (a synonym for the National ID type) under which the National ID is defined (mandatory, when country_code parameter is not provided)
          example: DE-BLZ8
        - in: query
          name: only_local_language
          schema:
            $ref: '#/components/schemas/BooleanAsString'
          required: false
          description: Whether fields must be returned in local language
      responses:
        '200':
          description: Corresponding National ID(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NationalIdDetailsFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/NationalIdDetailsFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.INIF
                    severity: Fatal
                    text: Invalid National ID format
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.INIF</code>
                <severity>Fatal</severity>
                <text>Invalid National ID format</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding National ID found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.NNIF
                    severity: Fatal
                    text: National ID not found
                    user_message: National ID not found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.NNIF</code>
                <severity>Fatal</severity>
                <text>National ID not found</text>
                <user_message>National ID not found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/national_ids/{national_id}/validity':
    get:
      tags:
        - national_ids
      summary: Check the Validity of a National ID.
      description: With this API call, you can check whether a National ID format is correct and the value exists in SWIFT's list of National IDs; you need to provide the National ID, and either a country code, or an indication to which scheme this National ID belongs.
      operationId: getNationalIdValidity
      parameters:
        - in: path
          name: national_id
          schema:
            $ref: '#/components/schemas/NationalIdCode'
          required: true
          description: National ID (a synonym for clearing code, routing code, sort code, bank and branch ID) to validate
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: false
          description: The 2-character ISO 3166-1 country code of the country that issued the National ID (mandatory, when scheme parameter is not provided)
        - in: query
          name: scheme
          schema:
            $ref: '#/components/schemas/NationalIdScheme'
          required: false
          description: The scheme (a synonym for the National ID type) under which the National ID is defined (mandatory, when country_code parameter is not provided); it maps all possible National ID types (id_type, national_id_type, iso_clc_type)
          example: DE-BLZ8
      responses:
        '200':
          description: The National ID is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidNationalIdWithValidityFlag'
            application/xml:
              schema:
                $ref: '#/components/schemas/ValidNationalIdWithValidityFlag'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICTP
                    severity: Fatal
                    text: Supplied scheme does not exist (/AN and /FN suffixes are not allowed)
                    user_message: Invalid scheme parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICTP</code>
                <severity>Fatal</severity>
                <text>Supplied scheme does not exist (/AN and /FN suffixes are not allowed)</text>
                <user_message>Invalid scheme parameter</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: The National ID is formally invalid or is valid but it does not exist, or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.INID
                    severity: Fatal
                    text: The existence of the National ID cannot be confirmed against SWIFT's list of National IDs because it is either an invalid code or SWIFT's list is incomplete. However, its format is correct.
                    user_message: Invalid National ID
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.INID</code>
                <severity>Fatal</severity>
                <text>The existence of the National ID cannot be confirmed against SWIFT's list of National IDs because it is either an invalid code or SWIFT's list is incomplete. However, its format is correct.</text>
                <user_message>Invalid National ID</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/national_ids/{national_id}/bics':
    get:
      tags:
        - national_ids
      summary: Get BICs of a National ID.
      description: For a given National ID, you can retrieve the BIC or the BICs of that National ID; you need to provide the National ID, and either a country code, or an indication to which scheme this National ID belongs.
      operationId: getBicsFromNationalId
      parameters:
        - in: path
          name: national_id
          schema:
            $ref: '#/components/schemas/NationalIdCode'
          required: true
          description: National ID (a synonym for clearing code, routing code, sort code, bank and branch ID) for which the corresponding BICs are requested
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: false
          description: The 2-character ISO 3166-1 country code of the country that issued the National ID (mandatory, when scheme parameter is not provided)
        - in: query
          name: scheme
          schema:
            $ref: '#/components/schemas/NationalIdScheme'
          required: false
          description: The scheme (a synonym for the National ID type) under which the National ID is defined (mandatory, when country_code parameter is not provided)
          example: DE-BLZ8
      responses:
        '200':
          description: Corresponding BIC(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BicsFound'
            application/xml:
              schema:
                $ref: '#/components/schemas/BicsFound'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICTP
                    severity: Fatal
                    text: Supplied scheme does not exist
                    user_message: Invalid scheme parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICTP</code>
                <severity>Fatal</severity>
                <text>Supplied scheme does not exist</text>
                <user_message>Invalid scheme parameter</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Corresponding BIC(s) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.BINF
                    severity: Fatal
                    text: The supplied national ID does not exist, does not exist with the supplied scheme or country code or has no BIC associated
                    user_message: No corresponding BIC found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.BINF</code>
                <severity>Fatal</severity>
                <text>The supplied national ID does not exist, does not exist with the supplied scheme or country code or has no BIC associated</text>
                <user_message>No corresponding BIC found</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/country_codes/{country_code}/validity':
    get:
      tags:
        - country_codes
      summary: Check validity of a country code.
      description: You can check whether a country code is correct and valid.
      operationId: getCountryCodeValidity
      parameters:
        - in: path
          name: country_code
          schema:
            oneOf:
              - $ref: '#/components/schemas/TwoLetterCode'
              - $ref: '#/components/schemas/ThreeLetterCode'
              - $ref: '#/components/schemas/ThreeDigitCode'
          required: true
          description: Country code (2-letters, 3-letters or 3-digits) to validate
          example: DE
      responses:
        '200':
          description: Valid country code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryCodeValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryCodeValidity'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MCRI
                    severity: Fatal
                    text: 'The country code is not in one of the three supported formats: 2a, 3a or 3n'
                    user_message: 'The country code is not in one of the three supported formats: 2a, 3a or 3n'
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MCRI</code>
                <severity>Fatal</severity>
                <text>The country code is not in one of the three supported formats: 2a, 3a or 3n</text>
                <user_message>The country code is not in one of the three supported formats: 2a, 3a or 3n</user_message>
                </error>
                </errors>'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Invalid country code or country code not found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICOC
                    severity: Fatal
                    text: The country code does not exist
                    user_message: The country code matches one of the three supported formats (2a, 3a or 3n), but it does not exist
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICOC</code>
                <severity>Fatal</severity>
                <text>The country code does not exist</text>
                <user_message>The country code matches one of the three supported formats (2a, 3a or 3n), but it does not exist</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/country_codes/{country_code}':
    get:
      tags:
        - country_codes
      summary: Get details of a country code.
      description: For a given country code, you can retrieve the details of that country code, that is the name, other codes and official currencies.
      operationId: getCountryCodeDetails
      parameters:
        - in: path
          name: country_code
          schema:
            oneOf:
              - $ref: '#/components/schemas/TwoLetterCode'
              - $ref: '#/components/schemas/ThreeLetterCode'
              - $ref: '#/components/schemas/ThreeDigitCode'
          required: true
          description: Country code (2-letters, 3-letters or 3-digits) for which details are requested
          example: DE
      responses:
        '200':
          description: Corresponding country code found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
            application/xml:
              schema:
                $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding country code found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.CONF
                    severity: Fatal
                    text: The country code does not exist
                    user_message: The country code does not exist
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.CONF</code>
                <severity>Fatal</severity>
                <text>The country code does not exist</text>
                <user_message>The country code does not exist</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/currency_codes/{currency_code}/validity':
    get:
      tags:
        - currency_codes
      summary: Check validity of a currency code.
      description: You can check whether a currency code is correct and valid.
      operationId: getCurrencyCodeValidity
      parameters:
        - in: path
          name: currency_code
          schema:
            oneOf:
              - $ref: '#/components/schemas/ThreeLetterCode'
              - $ref: '#/components/schemas/ThreeDigitCode'
          required: true
          description: Currency code (3-letters or 3-digits) to validate
          example: EUR
      responses:
        '200':
          description: Valid currency code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCodeValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyCodeValidity'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MCRI
                    severity: Fatal
                    text: 'The currency code is not in one of the two supported formats: 3a or 3n'
                    user_message: 'The currency code is not in one of the two supported formats: 3a or 3n'
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MCRI</code>
                <severity>Fatal</severity>
                <text>The currency code is not in one of the two supported formats: 3a or 3n</text>
                <user_message>The currency code is not in one of the two supported formats: 3a or 3n</user_message>
                </error>
                </errors>'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Invalid currency code or currency code not found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICUC
                    severity: Fatal
                    text: 'The currency code is not in one of the two supported formats: 3a or 3n'
                    user_message: Invalid currency code
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICUC</code>
                <severity>Fatal</severity>
                <text>The currency code matches one of the two supported formats (3a or 3n), but it does not exist</text>
                <user_message>Invalid currency code</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/currency_codes/{currency_code}':
    get:
      tags:
        - currency_codes
      summary: Get details of a currency code.
      description: For a given currency code, you can retrieve the details of that currency code, that is the name, other codes, the fractional digits and the list of countries where the currency is used.
      operationId: getCurrencyCodeDetails
      parameters:
        - in: path
          name: currency_code
          schema:
            oneOf:
              - $ref: '#/components/schemas/ThreeLetterCode'
              - $ref: '#/components/schemas/ThreeDigitCode'
          required: true
          description: Currency code (3-letters or 3-digits) for which details are requested
          example: EUR
      responses:
        '200':
          description: Corresponding currency code found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                $ref: '#/components/schemas/Currency'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No corresponding currency code found or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.CUNF
                    severity: Fatal
                    text: The currency code does not exist
                    user_message: The currency code does not exist
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.CUNF</code>
                <severity>Fatal</severity>
                <text>The currency code does not exist</text>
                <user_message>The currency code does not exist</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/currency_codes/{currency_code}/amount_validity':
    get:
      tags:
        - currency_codes
      summary: Check validity of a currency amount.
      description: You can check whether an amount is valid for a specific currency.
      operationId: getCurrencyAmountValidity
      parameters:
        - in: path
          name: currency_code
          schema:
            oneOf:
              - $ref: '#/components/schemas/ThreeLetterCode'
              - $ref: '#/components/schemas/ThreeDigitCode'
          required: true
          description: Currency code (3-letters or 3-digits) of the amount to validate
          example: EUR
        - in: query
          name: amount
          schema:
            type: string
            pattern: '^[0-9]*,[0-9]*$'
          required: true
          description: Currency amount to validate
          example: '12,34'
      responses:
        '200':
          description: Valid amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyAmountValidity'
              example:
                amount: '12,34'
                currency_code: EUR
                validity: VAMT
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyAmountValidity'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <amount_validity>
                <amount>12,34</amount>
                <currency_code>EUR</currency_code>
                <validity>VAMT</validity>
                </amount_validity>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Invalid currency code, currency code not found, invalid amount decimals or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.IAMT
                    severity: Fatal
                    text: Invalid amount
                    user_message: Invalid amount
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.IAMT</code>
                <severity>Fatal</severity>
                <text>Invalid amount</text>
                <user_message>Invalid amount</user_message>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/account_numbers/{account_number}/validity':
    get:
      tags:
        - account_numbers
      summary: Check validity of account number formats, including IBANs.
      description: Check validity of account number formats, including IBANs, issued in almost any country in the world.
      operationId: getAccountNumberValidity
      parameters:
        - in: path
          name: account_number
          schema:
            $ref: '#/components/schemas/FullAccountNumber'
          required: true
          description: Account number to validate
          example: X0542811101000000123456
        - in: query
          name: country_code
          schema:
            $ref: '#/components/schemas/CountryCode'
          required: false
          description: ISO 2-letter country code of the country where the account is held
        - in: query
          name: is_iban
          schema:
            $ref: '#/components/schemas/BooleanAsString'
          required: false
          description: Whether the account number must be handled as an IBAN
        - in: query
          name: usage
          schema:
            type: string
            enum:
              - retail
              - wholesale
          required: false
          description: How the account number is used (only for a few countries)
          example: retail
        - in: query
          name: national_id
          schema:
            type: string
            pattern: '^[0-9a-zA-Z]{2,20}$'
          required: false
          description: National ID (bank ID, clearing code, sort code, routing number) of the account holding institution
          example: '0542811101'
        - in: query
          name: bic
          schema:
            $ref: '#/components/schemas/Bic'
          required: false
          description: BIC-8 or BIC-11 of the account holding institution
      responses:
        '200':
          description: Valid account number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNumberValidity'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountNumberValidity'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ANFI
                    severity: Fatal
                    text: The format of the account number is different from the allowed formats
                    user_message: Account number format is invalid
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ANFI</code>
                <severity>Fatal</severity>
                <text>The format of the account number is different from the allowed formats</text>
                <user_message>Account number format is invalid</user_message>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: Invalid account format or invalid checksum or wrong URL format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ANCI
                    severity: Fatal
                    text: At least one checksum is different from the calculated checksum
                    user_message: 'At least one account number checksum is invalid: CHECKSUM'
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ANCI</code>
                <severity>Fatal</severity>
                <text>At least one checksum is different from the calculated checksum</text>
                <user_message>At least one account number checksum is invalid: CHECKSUM</user_message>
                </error>
                </errors>'
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/pmis/participants':
    get:
      tags:
        - pmis
      summary: Search for PMI participants.
      description: Get a list of PMI (Payment Market Infrastructure) participants matching the input parameters.
      operationId: getPmiParticipants
      parameters:
        - in: query
          name: service_id_substring
          schema:
            $ref: '#/components/schemas/StringMax20'
          required: false
          description: Part of the service ID of a Payment Market Infrastructure
          example: CNAP
        - in: query
          name: participant_id_substring
          schema:
            $ref: '#/components/schemas/StringMax255'
          required: false
          description: Part of a Payment Market Infrastructure participant ID
          example: DEUTDE
        - in: query
          name: participant_name_substring
          schema:
            $ref: '#/components/schemas/StringMax255'
          required: false
          description: Part of a Payment Market Infrastructure participant name
          example: 'BANCO DE GALICIA'
        - $ref: '#/components/parameters/pmiCountryCode'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Records found matching the supplied parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PmiParticipants'
            application/xml:
              schema:
                $ref: '#/components/schemas/PmiParticipants'
          headers:
            Content-Location:
              required: true
              schema:
                type: string
                format: uri
              description: The real URL returning the current resource/resources, with all implicit pagination parameters explicited
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.ICCP
                    severity: Fatal
                    text: Invalid country_code parameter
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.ICCP</code>
                <severity>Fatal</severity>
                <text>Invalid country_code parameter</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No records found matching the supplied parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.PPNF
                    severity: Fatal
                    text: No records found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.PPNF</code>
                <severity>Fatal</severity>
                <text>No records found</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/pmis/participants/{participant_record_id}':
    get:
      tags:
        - pmis
      summary: Get PMI participant details.
      description: For a given participant record ID, you can retrieve all details of that PMI participant, as reported within REACHPLUS flatfile.
      operationId: getPmiParticipantDetails
      parameters:
        - in: path
          name: participant_record_id
          schema:
            type: integer
            minimum: 1
          required: true
          description: PMI participant record ID within REACHPLUS flatfile (not to be confused with participant_id, which corresponds to the REACHPLUS flatfile field with the same name)
      responses:
        '200':
          description: Record found matching the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PmiParticipantDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/PmiParticipantDetails'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No record found matching the supplied ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.PPNF
                    severity: Fatal
                    text: Record not found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.PPNF</code>
                <severity>Fatal</severity>
                <text>Record not found</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/pmis/{service_id}/structure':
    get:
      tags:
        - pmis
      summary: Get PMI participant structure.
      description: For the given Payment Market Infrastructure service ID, get the participant record structure as described by flatfile REACHPLUSSTRUCTURE.
      operationId: getPmiParticipantStructure
      parameters:
        - $ref: '#/components/parameters/serviceId'
      responses:
        '200':
          description: Record found matching the supplied service ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PmiParticipantStructure'
            application/xml:
              schema:
                $ref: '#/components/schemas/PmiParticipantStructure'
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: No record found matching the supplied service ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.PSNF
                    severity: Fatal
                    text: PMI structure not found
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.PSNF</code>
                <severity>Fatal</severity>
                <text>PMI structure not found</text>
                </error>
                </errors>
        '405':
          $ref: '#/components/responses/InvalidHttpMethod'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/pmis/{service_id}':
    get:
      tags:
        - pmis
      summary: Get PMI details.
      description: Get Payment Market Infrastructure details for the given service ID.
      operationId: getPmiDetails
      parameters:
        - $ref: '#/components/parameters/serviceId'
      responses:
        '200':
          description: PMI found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PmiDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/PmiDetails'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                errors:
                  - code: REDA.API.MISI
                    severity: Fatal
                    text: service_id not provided
            application/xml:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <errors>
                <error>
                <code>REDA.API.MISI</code>
                <severity>Fatal</severity>
                <text>service_id not provided</text>
                </error>
                </errors>
        '401':
          $ref: '#/components/responses/Unallowed'
        '404':
          description: PMI not found
[...]
